h1,
.writing {
    /*  font-family: 'Rock Salt', cursive;
 */
    font-family: 'Rock Salt', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}

h1 {
    font-size: 36px;
    padding: 30px 15px;
    color: white;
    margin: 0 auto;
}

#display{     padding-right: 90px;     color : green; }


 
.content {
    padding-top: 30px;
    background-color: black;
    opacity: 0.5;
     line-height: 15px;
 }

 label{
        border : solid 1px black ;
        margin: 10px 0px;
 }

 input[type = radio]{

    padding : 10px 0px;
 }

 button{
    margin : 30px 10px ;
 }

body{
    background-image: url("../images/background.jpg");
     color :white;
          line-height: 15px;

       font-family: 'Rock Salt', cursive;
    font-family: 'Permanent Marker', cursive;

}